<div class="container-white">
    <div class="content">
        <h2>This Page's Purpose</h2>
        <p>Multiple options for determining a chance to hit</p>
    </div>
</div>

<div class="container-orange">
    <div class="content">
        <h2>Skill v.s. D100</h2>
        <p>Inspired by the game Battle Brothers, this system has the attacker roll a D100 under their attack. The opponent's defense lowers the number they have to roll under.</p>
        <code>hit chance = skill - defense</code>
        <p>Hit chance is always at least 5% and never more than 95%</p>
    </div>
</div>

<div class="container-white">
    <div class="content">
        <app-skill-vs-d100></app-skill-vs-d100>
    </div>
</div>

<div class="container-orange">
    <div class="content">
        <h2>OGL D20 System (TODO)</h2>
        <p>This system was published by wizards of the coast in 2000 under the Open Game Licence.</p>
    </div>
</div>
