<div class="container-dark header">
    <h2>RPG-tools</h2>
</div>
<div class="container-white">
    <div class="content">
        <h2>This Website's Purpose</h2>
        <p>A collection simple tools to demonstrate mechanics for an Role Playing Game (RPG) I might develop</p>
    </div>
</div>
<div class="container-orange">
    <div class="content">
        <h2>List of tools</h2>
        <ul class="align-left">
            <li>Hit chance calculator (TODO)</li>
            <li>Character progression examples (TODO)</li>
        </ul>
    </div>
</div>
<div class="container-white">
    <div class="content">
        <h2>About Me</h2>
        <p>I, Fogmind, am a software developer by trade. As a hobby I play RPGs sometimes, and I'd like to make my
            own.</p>
    </div>
</div>
<div class="container-dark footer">
    <p>Copyright twentytwentynever; copy whatever you like.</p>
</div>
