<div class="container-white">
    <div class="content">
        <h2>This Page's Purpose</h2>
        <p>To demonstrate different character progression systems I could use for an rpg</p>
    </div>
</div>

<div class="container-orange">
    <div class="content">
        <h2>Gradual learn-by-doing</h2>
        <p>
            A popular system in many computer RPGs. Each skill has it's own experience points.
            Every time a character uses a skill points are awarded for that skill.
            A skill level is a function of the number of experience points gained in that skill,
            by taking the square root of total experience for example:
        </p>
        <code>skill level = sqrt(experience / 100) </code>
        <p>
            There are several disadvantages to this system, which make it unsuitable for the type
            of game I'm trying to make:
        </p>
        <ul class="align-left">
            <li>There is no distinct moment of 'leveling up' where a character's abilities increase noticeably.</li>
            <li>Characters can become great at everything. Since games generally do not have the constraints of real life.</li>
            <li>Players tend to build jack-of-all-trades characters. As there is no in-game disadvantage to it.</li>
            <li>
                It can easily make the game feel grindy, unrewarding and generally not enjoyable to anyone trying to play optimally.
                While more casual players would be considerably weaker.
            </li>
        </ul>
    </div>
</div>
<div class="container-white">
    <div class="content">
        <app-gradual-learn-by-doing></app-gradual-learn-by-doing>
    </div>
</div>

<div class="container-orange">
    <div class="content">
        <h2>Five points per level</h2>
        <p>This system simply awards the player 5 points to increase their character's attributes with every time they level up.</p>
        <p>
            The problem I have with this system is that a fighter could easily put all of their points into strength;
            a ranger could do the same with dexterity.
            Even worse, this may very well be the optimal thing to do.
        </p>
    </div>
</div>
<div class="container-white">
    <div class="content">
        <app-five-points-per-level></app-five-points-per-level>
    </div>
</div>

<div class="container-orange">
    <div class="content">
        <h2>Five points with rising costs</h2>
        <p>
            This system awards the player 5 points to increase their character's attributes with every time they level up,
            but the cost of an attribute point rises every twenty levels at 30, 50, 70, 90, etc.
        </p>
        <p>
            This will probably motivate players to create more balanced characters than the previous system.
            However it could still be optimal to invest the first four levels fully into one attribute,
            because the rising costs only set in at level 30.
        </p>
        <p>
            Because first impressions are important and feeling like there is no player agency early on
            could be outputting to new players this may still not be a great system.
        </p>
    </div>
</div>
<div class="container-white">
    <div class="content">
        <app-five-points-rising-costs></app-five-points-rising-costs>
    </div>
</div>
